<!DOCTYPE html>
<html>
<head>
    <title>{{ crag.crag_name }}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
</head>
<body>
<h1>{{ crag.crag_name }}</h1>
<div id="map" style="height: 400px;"></div>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([{{ crag.latitude }}, {{ crag.longitude }}], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    L.marker([{{ crag.latitude }}, {{ crag.longitude }}]).addTo(map)
        .bindPopup("{{ crag.crag_name }}").openPopup();
</script>
<p>Type: {{ crag.type }}<br>Grade: {{ crag.difficulty_grade }}<br>Rock: {{ crag.rocktype }}</p>
</body>
</html>
